@model AlcoholShopWeb.Models.Aging

@{
    ViewData["Title"] = "Edycja";
}

<h2>Edycja</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="AgingID" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <div class="mb-3 mt-3">
            <label asp-for="Description" class="form-label">Opis</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
</form>
