@model AlcoholShopWeb.Models.User

@{
    ViewData["Title"] = "Rejestracja";
}

<h2>Rejestracja</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="Register" method="post">
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Imię</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Nazwisko</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="BirthDate">Data urodzenia</label>
        <input type="date" name="BirthDate" class="form-control" value="@Model.BirthDate?.ToString("yyyy-MM-dd")" />
    </div>

    <div class="mb-3">
        <label>Hasło</label>
        <input name="password" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Zarejestruj</button>
</form>