@model AlcoholShopWeb.Models.User
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h2>Rejestracja</h2>

<form asp-action="Register" method="post">
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Imiê</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Nazwisko</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Has³o</label>
        <input name="password" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Zarejestruj</button>
</form>

