@model AlcoholShopWeb.Models.Product

<h2 class="mt-4">@ViewData["Title"] Produkt</h2>

<form asp-action="@ViewData["Action"]">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="VolumeML" class="form-label"></label>
        <input asp-for="VolumeML" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="AlcoholPercentage" class="form-label"></label>
        <input asp-for="AlcoholPercentage" class="form-control"/>
    </div>

    <div class="form-check mb-3">
        <input asp-for="Availability" class="form-check-input"/>
        <label asp-for="Availability" class="form-check-label"></label>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryID">Kategoria</label>
        <select asp-for="CategoryID" class="form-select" asp-items="ViewBag.CategoryID"></select>
    </div>

    <div class="mb-3">
        <label asp-for="ProducerID">Producent</label>
        <select asp-for="ProducerID" class="form-select" asp-items="ViewBag.ProducerID"></select>
    </div>

    <div class="mb-3">
        <label asp-for="CountryID">Kraj</label>
        <select asp-for="CountryID" class="form-select" asp-items="ViewBag.CountryID"></select>
    </div>

    <div class="mb-3">
        <label asp-for="ProductionMethodID">Metoda produkcji</label>
        <select asp-for="ProductionMethodID" class="form-select" asp-items="ViewBag.ProductionMethodID"></select>
    </div>

    <div class="mb-3">
        <label asp-for="AgingID">Starzenie</label>
        <select asp-for="AgingID" class="form-select" asp-items="ViewBag.AgingID"></select>
    </div>

    <div class="mb-3">
        <label asp-for="ImageURL" class="form-label">Link do zdjęcia</label>
        <input asp-for="ImageURL" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
